header {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(16,91,216,1) 75%, rgba(11,61,145,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    width: 100%;
    justify-content: flex-start
}

.header .logo img {
    height: 95px;
    width: auto;
    transition: all 0.3s;
}

.header .logo {
    cursor: pointer;
}

.header .logo img:hover {
    transform: scale(1.1);
}

.header .title {
    height: 1em;
    width: 1000em;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
